<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cookies</title>
    <!--No lo enlazo a css porque debe ser documento externo-->
    <!--centro todo el texto-->
     <style>
        p{
            width: 50%; text-align:center; margin-left: 25%;
        }
        h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <!--creo el mismo navegador que en las otras páginas-->
      <nav>
            <ul class="nav">
                <li><a href="./../index.html">Inicio</a></li>
                <li><a href="producto.html"> Imágenes </a></li>
                <li><a href="contacto.html"> Contactanos </a></li>
                <li><a href="presupuesto.html"> Presupuesto </a></li>
            </ul>
        </nav><br>
        <!--Titulo y texto-->
     <h2>POLÍTICA DE COOKIES</h2>
        <p>1. ¿Qué son las cookies?
Las cookies son pequeños archivos que se almacenan en el dispositivo del usuario al acceder a determinadas páginas web. Sirven para recordar información sobre tu visita, como el idioma, productos añadidos al carrito, etc.
</p>
<p>
2. Tipos de cookies utilizadas
En Litum-3d.com utilizamos los siguientes tipos de cookies:

a) Cookies técnicas
Necesarias para el funcionamiento de la web, como el acceso al carrito o zonas seguras.

b) Cookies de análisis
Nos permiten conocer el comportamiento de los usuarios en la web (por ejemplo, Google Analytics), para mejorar nuestros servicios.

c) Cookies de terceros
Algunas cookies pueden ser gestionadas por servicios externos (por ejemplo, Google, Facebook, Stripe, etc.).
</p>
<p>
3. Gestión de cookies
Puedes permitir, bloquear o eliminar las cookies instaladas en tu equipo mediante la configuración de las opciones del navegador que estés utilizando:

Chrome: https://support.google.com/chrome/answer/95647

Firefox: https://support.mozilla.org/es/kb/Borrar%20cookies

Safari: https://support.apple.com/es-es/HT201265

Ten en cuenta que la desactivación de cookies puede afectar al correcto funcionamiento de la web.
</p>
<p>
4. Consentimiento
Al navegar por Litum-3d.com por primera vez, se te informará mediante un aviso o banner de la existencia de cookies, y se te pedirá que consientas su uso. Puedes modificar o retirar tu consentimiento en cualquier momento.
</p>
</body>
</html>