<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad</title>
    <!--No lo enlazo a css porque debe ser documento externo-->
    <!--centro todo el texto-->
     <style>
        p{
            width: 50%; text-align:center; margin-left: 25%;
        }
        h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <nav>
            <ul class="nav">
                <li><a href="./../index.html">Inicio</a></li>
                <li><a href="producto.html"> Imágenes </a></li>
                <li><a href="contacto.html"> Contactanos </a></li>
                <li><a href="presupuesto.html"> Presupuesto </a></li>
            </ul>
        </nav><br>
         <!--Titulo y texto-->
    <h2> POLÍTICA DE PRIVACIDAD </h2>
    <p>
1. Responsable del tratamiento
Titular: Antonio Fernández

Nombre comercial: Litum S.L.

NIF: 44455566-G

Dirección: C/ Madrid 12, 5

Correo electrónico: ferfri_rivas_15@hotmail.com
</p>
<p>
2. Finalidad del tratamiento
En Litum-3d.com tratamos la información que nos facilitan los usuarios con las siguientes finalidades:

Gestionar pedidos y compras online.

Gestionar consultas realizadas a través del formulario de contacto.

Enviar información comercial si se ha dado el consentimiento.

Cumplir con obligaciones legales (facturación, garantías, etc.).
</p>
<p>
3. Conservación de los datos
Los datos personales se conservarán mientras exista una relación comercial o contractual y durante el tiempo necesario para cumplir con las obligaciones legales.
<p>
4. Legitimación para el tratamiento
Las bases legales para el tratamiento de tus datos son:

El consentimiento del usuario.

La ejecución de un contrato (compra de productos).

El cumplimiento de obligaciones legales.
</p>
<p>
5. Destinatarios de los datos
Tus datos no se cederán a terceros, salvo obligación legal o en caso de que sea necesario para la prestación del servicio (por ejemplo, empresas de transporte o pasarelas de pago).
</p>
<p>
6. Derechos del usuario
Tienes derecho a:

Acceder, rectificar o suprimir tus datos.

Limitar u oponerte a su tratamiento.

Retirar el consentimiento en cualquier momento.

Presentar una reclamación ante la Agencia Española de Protección de Datos (www.aepd.es).

Para ejercer estos derechos, puedes escribir a ferfri_rivas_15@hotmail.com, indicando tu nombre completo, el derecho que deseas ejercer y adjuntando copia de tu DNI o documento equivalente.
</body>
</html>