<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presupuesto</title>
    <link rel="stylesheet" href="./../css/estilos.css">
</head>
<body>
    <header><br>
        <img src="./../assets/images/litum_logo.jpg" alt="Logotipo de la empresa" width="15%" height="10%" style="display: block; margin: 0 auto;">
        <br>
        
    </header>
     
    <main>
        <h1>Galería de Imágenes</h1>
        <nav>
            <ul class="nav">
                <li><a href="./../index.html">Inicio</a></li>
                <li><a href="producto.html"> Imágenes </a></li>
                <li><a href="contacto.html"> Contactanos </a></li>
                <li><a href="presupuesto.html"> Presupuesto </a></li>
            </ul>
        </nav><br>
            <div class="imagen"><br>
                <img src="./../assets/images/lito1.jpg" width="200px" height="250px">
                <img src="./../assets/images/lito2.jpg" width="200px" height="250px">
                <img src="./../assets/images/lito3.jpg" width="200px" height="250px">
                <img src="./../assets/images/lito4.jpg" width="200px" height="250px"><br>
                <img src="./../assets/images/lito5.jpg" width="200px" height="250px">
                <img src="./../assets/images/lito6.jpg" width="200px" height="250px">
                <img src="./../assets/images/lito7.jpg" width="200px" height="250px">
                <img src="./../assets/images/lito8.jpg" width="200px" height="250px"><br>
                <img src="./../assets/images/lito9.jpg" width="200px" height="250px">
                <img src="./../assets/images/lito10.jpg" width="200px" height="250px">
                <img src="./../assets/images/lito2.jpg" width="200px" height="250px">
                <img src="./../assets/images/lito3.jpg" width="200px" height="250px">
            </div>
    </main>
  <footer>
        <nav>
            <ul class="politicas"><br>
                <li><a href="./../views/aviso-legal.html">Aviso Legal</a></li>
                <li><a href="./../views/politica.html">Política de Privacidad</a></li>
                <li><a href="./../views/cookies.html">Política de Cookies</a></li>
                
            </ul><br>
            <p>Todos los derechos reservados</p>
            <div class="redes">
                    <a href="http://facebook.com"><img src="./../assets/images/logo-fb.jpeg" width="5%" height="5%"></a>
                    <a href="http://instagram.com"><img src="./../assets/images/logo-insta.jpeg" width="5%" height="5%"></a>
                    <a href="http://tiktok.com"><img src="./../assets/images/logo-tiktok.jpg" width="5%" height="5%"></a>
            </div><br>
        </nav>

    </footer>
</body>
</html>